* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #c6d4ff;
    color: #000000;
}

.navbar {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: #66fff8;
    overflow: hidden;
}

.navelement {
    display: inline;
    padding: 6px;
    background-color: #668cff;
}

.navelement a:hover {
    background-color: #33807c;
}